# Copy this file to .env and fill in your values
MONGO_URI=mongodb+srv://maorfl14:M0301f1644@cluster0.fgyzpyw.mongodb.net/customs-freight
GMAIL_USER=maorfl14@gmail.com
GMAIL_APP_PASSWORD=hyoqiiclucxcvbcd
PORT=5000
FRONTEND_URL=http://localhost:3000
